# Retrieve your API Key and Policy ID from the smart wallets dashboard:
# https://dashboard.alchemy.com/services/smart-wallets/configuration

# Your Alchemy API Key (get from: https://dashboard.alchemy.com/apps)
NEXT_PUBLIC_ALCHEMY_API_KEY=VHi5TN0r3pCc7FkHD6ljDyzi7yZDLBE9

# Your Alchemy Policy ID (get from: https://dashboard.alchemy.com/services/gas-manager/configuration)
NEXT_PUBLIC_ALCHEMY_POLICY_ID=6ecc9265-7b21-4f53-a922-745c6cf42efb

# NOTE: Make sure to set up a smart wallet configuration for your app to enable login