# Retrieve your API Key and Policy ID from the smart wallets dashboard default configuration or create new keys: 
# https://dashboard.alchemy.com/services/smart-wallets/configuration
NEXT_PUBLIC_ALCHEMY_API_KEY=VHi5TN0r3pCc7FkHD6ljDyzi7yZDLBE9
NEXT_PUBLIC_ALCHEMY_POLICY_ID=6ecc9265-7b21-4f53-a922-745c6cf42efb

# Additional configuration for Scroll integration
NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_BUNDLER_URL=https://api.pimlico.io/v2/sepolia/rpc?apikey=YOUR_PIMLICO_API_KEY
NEXT_PUBLIC_PAYMASTER_URL=https://api.pimlico.io/v2/sepolia/rpc?apikey=YOUR_PIMLICO_API_KEY
NEXT_PUBLIC_SCROLL_API_URL=http://0.0.0.0:3690

# NOTE: make sure to set up a smart wallet configuration for your app to enable login
# API Key documentation: https://dashboard.alchemy.com/apps
# Gas Manager configuration: https://dashboard.alchemy.com/services/gas-manager/configuration